*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

section {
  padding: 20px 18px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media (min-width: 530px) {
  section {
    max-width: 11000px;
  }
}

section--full {
  max-width: 3000px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.large-hero {
  position: relative;
  border-bottom: 10px solid #070035;
}

.large-hero__image {
  display: block;
}

.large-hero__text-content {
  padding-top: 60px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 50%;
  text-align: center;
}

.large-hero__subtitle {
  font-weight: 500;
  color: #BD9441;
  font-size: 1.5rem;
  margin: 0;
}

@media (min-width: 530px) {
  .large-hero__subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .large-hero__subtitle {
    font-size: 2rem;
  }
}

.large-hero__logo {
  max-width: 150px;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1.5rem 0 .75rem 0;
}

@media (min-width: 530px) {
  .large-hero__logo {
    margin-top: 2rem;
    max-width: 200px;
    padding: 1.5rem 0 .75rem 0;
  }
}

@media (min-width: 800px) {
  .large-hero__logo {
    margin-top: 2rem;
    max-width: 350px;
    padding: 1.5rem 0 .75rem 0;
  }
}

.large-hero__decription {
  color: #141414;
  display: none;
  font-size: .9rem;
  font-weight: 300;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  max-width: 35rem;
  padding-left: 1rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 530px) {
  .large-hero__decription {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

@media (min-width: 800px) {
  .large-hero__decription {
    font-size: 1.5rem;
  }
}

.large-hero--white {
  color: #EDFFD9;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.headline {
  color: #070035;
  font-weight: 300;
  font-size: 1.9rem;
  margin-bottom: 0;
}

.headline--centered {
  text-align: center;
}

.headline--gold {
  color: #BD9441;
}

.headline--white {
  color: #EDFFD9;
}

.headline--narrow {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.headline--small {
  font-size: 1.75rem;
}

.headline--smaller {
  font-size: 1.5rem;
}

.headline--b-margin {
  margin-bottom: 2rem;
}

.headline--bold {
  font-weight: 500;
}

.cards {
  margin: .75rem;
  padding: 1rem;
}

.cards p {
  line-height: 1.65;
  font-size: .85rem;
  margin: 1.5rem 0;
}

ion-icon {
  font-size: 2.1rem;
  color: #070035;
}

.btn {
  background-color: #BD9441;
  color: #fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
}

.btn:hover {
  background-color: #7e5d1b;
}

.btn--small {
  font-size: .75rem;
  padding: .5rem 1rem;
}

.btn__t-margin {
  display: none;
}

@media (min-width: 800px) {
  .btn__t-margin {
    display: inline-block;
    margin-top: 1.5rem;
  }
}

.galeria {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (110px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 110px);
  grid-auto-rows: 100px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
}

.parceiras {
  background-color: #070035;
}

.site-footer {
  background-color: #141414;
  color: #ffffff;
  padding: .5rem 0;
  font-size: .75rem;
  text-align: center;
}

.site-footer a {
  color: #ffffff;
}

.site-footer a:hover {
  color: #818181;
}

.site-footer__text {
  display: block;
  font-size: .75rem;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
}

@media (min-width: 800px) {
  .site-footer__text {
    font-size: .75rem;
    display: inline;
    margin-bottom: .75rem;
  }
}

.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media (min-width: 800px) {
  .site-header {
    background-color: rgba(7, 0, 53, 0.3);
  }
}

.site-header__btn-container {
  float: right;
}

.site-header img {
  max-width: 100px;
  height: auto;
}

@media (min-width: 800px) {
  .site-header img {
    max-width: 150px;
  }
}

.site-header__logo {
  background-color: #070035;
  top: 0;
  padding: 7px 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 800px) {
  .site-header__logo {
    left: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 15px 20px;
  }
}

.site-header__menu-icon {
  width: 20px;
  height: 20px;
  background-color: #EDFFD9;
  position: absolute;
  top: 17px;
  right: 17px;
}

@media (min-width: 800px) {
  .site-header__menu-icon {
    display: none;
  }
}

.site-header__menu-content {
  display: none;
}

@media (min-width: 800px) {
  .site-header__menu-content {
    display: block;
  }
}

.primary-nav--col-right {
  float: right;
}

.primary-nav ul {
  margin: 0;
  padding: 0;
}

.primary-nav ul::after {
  content: "";
  clear: both;
  display: table;
}

.primary-nav li {
  float: left;
  padding-right: 20px;
}

.primary-nav a {
  color: #EDFFD9;
  display: block;
  padding: 10px 0;
}
/*# sourceMappingURL=styles.css.map */