*,
:after,
:before {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  }

html {

  @include respond(tab-land) {
    font-size: 80%;
  }

  @include respond(tab-port) {
    font-size: 75%;
  }

  @include respond(phone) {
    font-size: 74%;
  }
  
  @include respond(big-desk) {
    font-size: 100%;
  }
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;

  }
  
  section {
    padding: 20px 18px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    @include atSmall{
      max-width: 11000px;
    }

    &--full {
      max-width: 3000px;
    }
  }
  
  a {
    text-decoration: none;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  ul {
    list-style: none;
  }