.wrapper {
    max-width: 1220px;
    margin-left: 18px;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}