.contact-form {
  width: 60%;
  margin: 0 auto;
}

label {
  color: $mainBlack;
  font-weight: 300;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 7px;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

.form-messages {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 30px;
}
.sucess {
  background-color: $mainGold;
  color: white;
  text-align: center;
}

.error {
  background-color: $mainBlue;
  color: white;
  text-align: center;
}
