.headline {
    color: $mainBlue;
    font-weight: 300;
    font-size: 1.9rem;
    margin-bottom: 0;
    
    &--centered {
        text-align: center;
    }

    &--gold {
        color: $mainGold;
    }

    &--white {
        color: $mainWhite;
    }

    &--red {
        color: red;
    }

    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &--small {
        font-size: 1.75rem;
    }

    &--smaller {
        font-size: 1.3rem;
        font-family: "Times New Roman", Times, serif;
    }

    &--b-margin {
        margin-bottom: 2rem;
    }

    &--bold {
        font-weight: 500;
    }
    &--times {
        font-family: "Times New Roman", Times, serif;
    }
}