.large-hero {
    position: relative;
    border-bottom: 10px solid $mainBlue;
  
    &__image {
        display: block;
    }
  
    &__text-content {
      padding-top: 60px;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      width: 50%;
      text-align: center;
    }
  
  
    &__subtitle {
      font-weight: 500;
      color: $mainGold;
      font-size: 1.5rem;
      margin: 0;
  
      @include atSmall {
        font-size: 1.5rem;
      }

      @include atMedium {
        font-size: 2rem;
      }
    }

    &__logo {
      max-width: 150px;
      margin-top: 1rem;
      margin-left: 1rem;
      padding: 1.5rem 0 .75rem 0;

      @include atSmall {
        margin-top: 2rem;
        max-width: 200px;
        padding: 1.5rem 0 .75rem 0;
      }

      @include atMedium {
        margin-top: 2rem;
        max-width: 350px;
        padding: 1.5rem 0 .75rem 0;
      }
    }
  
    &__decription {
      color: $mainBlack;
      display: none;
      font-size: .9rem;
      font-weight: 300;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      max-width: 35rem;
      padding-left: 1rem;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
  
      @include atSmall {
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem;
      }

      @include atMedium {
        font-size: 1.5rem;
      }
    }

    &--white {
      color: $mainWhite;
    }
    
  }