.primary-nav {
  padding-top: 10px;

  @include atMedium {
    padding-top: 0;
  }

  &--col-right {
    @include atMedium {
      float: right;
    }
  }

  ul {
    padding: 0;
    @include clearfix;
  }

  li {
    display: inline-block;
    padding-right: 7px;

    @include atMedium {
      padding-right: 20px;
      float: left;
      display: block;
    }
  }

  li:last-child {
    padding-right: 0;

    @include atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: $mainWhite;
    display: block;
    padding: 5px 8px;
    font-size: 0.8rem;
    background-color: rgba($color: $mainBlack, $alpha: 0.5);
    transition: all 0.2s;

    &:hover {
      color: $mainBlue;
      border-bottom: 1px solid $mainBlue;
    }

    @include atMedium {
      font-size: 1rem;
      padding: 10px 0;
      background-color: transparent;
    }
  }
}
