.primary-nav {
    &--col-right {
        float: right;
    }

    ul{
        margin: 0;
        padding: 0;
        @include clearfix;
    }
    
    li {
        float: left;
        padding-right: 20px;
    }

    a {
        color: $mainWhite;
        display: block;
        padding: 10px 0;
    }
}