.curriculo {
  padding: 3rem;
}
.quem-somos {
  &__shape {
    height: 175px;
    width: 175px;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    margin-right: 1rem;
  }

  figure {
    @include respond(tab-port) {
      margin-bottom: 2rem;
      margin-left: 40%;
      margin-right: auto;
    }

    @include respond(phone) {
      margin-bottom: 2rem;
      margin-left: 40%;
      margin-right: auto;
    }

    @media (max-width: 450px) {
      margin-left: 15%;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
    min-height: 100%;
    transition: all 0.3s;
    overflow: hidden;
    
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $mainWhite;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1.2);
    filter: blur(3px) brightness(80%);
  }

  &__text {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    top: 70%;
    color: $mainBlack;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid rgba($color: $mainBlack, $alpha: 0.2);
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    @include respond(tab-port) {
      float: left;
      column-count: 1;

    }
  }
}
