.row {

    @include clearfix;
    
    &--gutters {
        margin-right: -3rem;
    }

    &--gutters > div {
        padding-right: 3rem;
    }

    &__large-3 {
        margin: 2.5rem 1rem;
        padding: 1rem;
    }

    @include atMedium {
        &__large-3 {
            margin: 1rem 1rem;
            float: left;
            width: 20%;
            padding: 1rem;
        }
    }
}