.site-footer {
    background-color: $mainBlack;
    color: #ffffff;
    padding: .5rem 0;
    font-size: .75rem;
    text-align: center;

    a {
        color: #ffffff;

        &:hover{
            color: #818181;
        }
    }

    &__text {
        display: block;
        font-size: .75rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;

        @include atMedium {
            font-size: .75rem;
            display: inline;
            margin-bottom: .75rem;
        }
    }
}